.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.actions button {
  width: 100%;
}

.cancelBtn {
  border-radius: 8px;
  padding: 16px;
  font-size: 18px;
}

.logoutBtn {
  border-radius: 8px;
  padding: 16px;
  background-color: var(--red);
  font-size: 18px;
}

.logoutBtn:hover {
  background-color: #a10f0f;
}

.logoutBtn:focus-visible {
  background-color: #c80000;
  box-shadow: 0 0 0 6px rgba(200, 0, 0, 0.2), 0 0 0 2px #fff;
}

@media screen and (min-width: 768px) {
  .actions {
    flex-direction: row;
    gap: 28px;
  }

  .cancelBtn,
  .logoutBtn {
    padding: 12px 24px;
    font-size: 16px;
  }
}
