.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: stretch;
  box-sizing: border-box;
  max-width: 100%;
  margin: 24px 0;
}

.recipeCounter {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}


@media (min-width: 768px) {
  .list {
    max-width: 768px;
  }
  
}
@media (min-width: 1440px) {
  .list {
    max-width: 1440px;
  }
}