.wrapper {
  width: 100%;
  font-family: var(--font-family);
  background: var(--background);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* планшет */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* десктоп */
@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
