.header {
  padding: 14px 0;
  background-color: #3d2218;
  position: relative;
  color: white;
}

.container {
  max-width: 393px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.desktopNav {
  display: none;
}

.mobileMenu {
  display: none;
}

.mobileMenu.open {
  width: 100%;
  padding: 32px 16px 26px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3d2218;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    text-align: center;
  }

  .desktopNav {
    display: block;
  }

  .mobileMenu.open {
    display: none;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 108px;
  }
}
