:root {
  --font-family: "Montserrat", sans-serif;

  --black: #000000;
  --black-2: #070707;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-60: rgba(0, 0, 0, 0.6);
  --dark-gray: #323232;
  --icon-gray: #3a3a3a;

  --white: #ffffff;
  --white-55: rgba(255, 255, 255, 0.55);
  --white-80: rgba(255, 255, 255, 0.8);
  --background: #f6f6f6;
  --light-gray: #e1e1e1;
  --light-gray-2: #f4f4f4;
  --light-gray-3: #f9f9f9;
  --gray-2: #c4c4c4;
  --gray-3: #d9d9d9;
  --social-media-bg: #f0f0f0;

  --beige: #e3caa5;
  --beige-2: #edd9aa;
  --light-beige: #f1e9db;
  --light-beige-2: #fffbe9;
  --light-beige-3: #e1d7c6;
  --light-brown: #b9a483;
  --brown: #a88c6d;
  --dark-brown: #7a5e48;
  --dark-brown-65: rgba(61, 34, 24, 0.65);

  --gray: #595d62;

  --red: #c80000;
}
